# https://pandas.pydata.org/docs/user_guide/index.html

## Pandas DataFrame Practice

### Imports

In [1]:
# Import pandas and numpy
import pandas as pd
import numpy as np

### 1. Employee Performance Analysis

| EmpID | Name    | Department | HireDate   |
| ----- | ------- | ---------- | ---------- |
| 101   | Alice   | HR         | 2018-06-01 |
| 102   | Bob     | IT         | 2019-07-15 |
| 103   | Charlie | Sales      | 2020-03-22 |
| 104   | Diana   | HR         | 2021-01-10 |

----

| EmpID | Year | Rating |
| ----- | ---- | ------ |
| 101   | 2021 | 3      |
| 101   | 2022 | 4      |
| 102   | 2021 | 5      |
| 103   | 2021 | 4      |
| 104   | 2022 | 2      |

####Tasks:


1.   Merge both datasets on EmpID.
2. Calculate each employeeâ€™s average rating across years.
3. Filter for employees with an average rating of 4 or higher.
4. Create a summary DataFrame grouped by Department showing the average rating of high-performing employees.

In [ ]:
employees_data = {
    'EmpID': [101, 102, 103, 104],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Department': ['HR', 'IT', 'Sales', 'HR'],
    'HireDate': ['2018-06-01', '2019-07-15', '2020-03-22', '2021-01-10']
}

performance_data = {
    'EmpID': [101, 101, 102, 103, 104],
    'Year': [2021, 2022, 2021, 2021, 2022],
    'Rating': [3, 4, 5, 4, 2]
}

In [ ]:
#Task 1

In [ ]:
#Task 2

In [ ]:
#Task 3

In [ ]:
#Task 4

### 2. Product Sales and Inventory
| ProductID | Date       | UnitsSold |
| --------- | ---------- | --------- |
| 1         | 2024-01-01 | 10        |
| 2         | 2024-01-01 | 5         |
| 1         | 2024-01-02 | 15        |
| 3         | 2024-01-02 | 7         |

---
| ProductID | ProductName | UnitPrice | Stock |
| --------- | ----------- | --------- | ----- |
| 1         | Widget A    | 20        | 100   |
| 2         | Widget B    | 35        | 200   |
| 3         | Widget C    | 15        | 0     |


Tasks:
1.  Merge sales and inventory data on ProductID.
2. Compute Revenue for each sale (UnitsSold * UnitPrice).
3. Aggregate total revenue per product and sort descending.
4. Identify which products are out of stock.

In [ ]:
sales_data = {
    'ProductID': [1, 2, 1, 3],
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'UnitsSold': [10, 5, 15, 7]
}

inventory_data = {
    'ProductID': [1, 2, 3],
    'ProductName': ['Widget A', 'Widget B', 'Widget C'],
    'UnitPrice': [20, 35, 15],
    'Stock': [100, 200, 0]
}

In [ ]:
#Task 1

In [ ]:
#Task 2

In [ ]:
#Task 3

In [ ]:
#Task 4

### 3. Flight Delay Statistics

| FlightID | Airline  | Origin | Destination | DepartureTime | ArrivalTime | DelayMinutes |
| -------- | -------- | ------ | ----------- | ------------- | ----------- | ------------ |
| 1001     | Delta    | JFK    | LAX         | 08:00         | 11:00       | 10           |
| 1002     | United   | LAX    | ORD         | 09:00         | 15:00       | 0            |
| 1003     | Delta    | JFK    | ORD         | 10:00         | 13:00       | 45           |
| 1004     | American | ORD    | LAX         | 07:00         | 09:30       | 15           |
| ...      | ...      | ...    | ...         | ...           | ...         | ...          |

---
Tasks:

1. Convert DepartureTime and ArrivalTime to datetime.time and calculate the flight duration in minutes.
2. Compute the average delay per airline.
3. Identify the top 2 origin airports with the highest average delay.
4. Create a pivot table with Airline as rows, Origin as columns, and average delay as values.

In [ ]:
flights_data = {
    'FlightID': [1001, 1002, 1003, 1004],
    'Airline': ['Delta', 'United', 'Delta', 'American'],
    'Origin': ['JFK', 'LAX', 'JFK', 'ORD'],
    'Destination': ['LAX', 'ORD', 'ORD', 'LAX'],
    'DepartureTime': ['08:00', '09:00', '10:00', '07:00'],
    'ArrivalTime': ['11:00', '15:00', '13:00', '09:30'],
    'DelayMinutes': [10, 0, 45, 15]
}

In [ ]:
#Task 1

In [ ]:
#Task 2

In [ ]:
#Task 3

In [ ]:
#Task 4