# Pandas Series

## Import Pandas
## Import Numpy

### 1. Create a Series from a List

- Given the following two lists

```
my_values = [10, 20, 30, 40, 50]
my_indicies = ['a', 'b', 'c', 'd', 'e']
```

- Create a Series with the above values and indices

In [ ]:
# Create a Series with the above values and indices

### 2. Access Elements by Index

- Create a series, S, with values [100, 200, 300, 400] and default indicies
- Index the series, S, to return the first and last elements

In [ ]:
# Create the series, S

In [ ]:
# Index your series

### 3. Apply Boolean Filtering

- Given the series, 'temps'

```
temps = pd.Series([23, 28, 19, 30, 25], index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri'])

```
- Filter the series for days where the temperature is above 25

In [ ]:
# Filter the series, temps for days above 25

### 4. Perform Vectorized Arithmetic

- Given the following series, 'prices'
```
prices = pd.Series([100, 250, 400], index=['A', 'B', 'C'])
```
- Increase all prices by 10% and save the result to a new series, 'updated_prices'

In [ ]:
# Increase the values by 10%

### 5. Check for Missing Values
- Create a Series with values [1, np.nan, 3, None, 5]
- Identify the indices where the values are missing (NaN)
- Identify the indicies where the values are populated

In [ ]:
# Create your series

In [ ]:
# Check your series for NaN

In [ ]:
# Determine which indicies are populated

### 6. Map a Function to a Series
- Given the series, 'cities'

```
cities = pd.Series(['new york', 'LONDON', 'ToKyo'])
```

- Convert all values to lowercase using a built-in string function

In [ ]:
# Use a string function to convert strings in a series to lowercase strings

### 7. Combine Two Series with Arithmetic

- Given the following two series, s1 and s2


```
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s2 = pd.Series([4, 5, 6], index=['b', 'c', 'd'])

```

- Add them together and explain what happens to non-matching indices.

In [ ]:
# Add your series element-wise

- Modify this markdown element to describe what happend to the non-matching indicies
- (TYPE YOUR ANSWER HERE)

### 8. Use .apply() with a Custom Function
- Create a series, 'my_vals' with integers 0 to 5, and default indicies
- Define a function that takes 1 integer input, N ,and returns the factorial (Nx(N-1)x(N-2)...x(2)x(1)) the input integer
- Use the .apply() method to compute the factorial of each number in the series, 'my_vals'

In [ ]:
# Create your series

In [ ]:
# Define your custom factorial function

In [ ]:
# Use the .apply() method to apply your custom function to each element in your series

### 9. Use .where() to Conditionally Replace Values
- Given a series of exam scores


```
scores = pd.Series([82, 55, 90, 48, 76])
```
- use .where() to replace scores below 70 with 'Fail', keep the rest unchanged.

In [ ]:
# Apply .where() to the scores series

### 10. Use .value_counts() and .sort_values() Together

- Given the series, responses



```
responses = pd.Series(['yes', 'no', 'yes', 'maybe', 'no', 'yes'])

```
- Count the frequency of each response and sort the results in descending order

In [ ]:
# Get frequency and sort in one line of code